footer {
  padding-top: 26px;
  background-color: rgba(247, 247, 247, 1);

  .footer__nav {
    justify-content: center;

    .footer__nav__col {
      width: 146px;
      margin-right: 40px;


      h6 {
        font-family: Cormorant Garamond, sans-serif;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1.163636326789856px;
        text-align: left;
      }

      p {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0.10000000149011612px;
        text-align: left;
        margin-bottom: 6px;
      }

      ul {
        margin-top: 16px;
        padding-left: 0;
        li {
          display: inline;
          margin-right: 16px;
        }
      }
    }

  }

}

#social {
  width: 200px;
  margin-right: 0;
}